In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
K = tf.keras.backend

In [2]:
dance=pd.read_csv("data/dance_em.csv",encoding="utf-8")

In [3]:
dances=dance.drop(['Unnamed: 0'],axis=1)

In [4]:
user=pd.read_csv("data/user_em.csv",encoding="utf-8")

In [5]:
users=user.drop(["Unnamed: 0","birthday"],axis=1)

In [6]:
users.head()

        user_id  level  sex_em
0  1.000043e+09      4       1
1  1.000046e+08      4       0
2  1.000061e+08      4       0
3  1.000068e+08      6       0
4  1.000082e+09      2       0

In [7]:
users[users['user_id'].isin([24696418])]

          user_id  level  sex_em
74175  24696418.0      5       0

In [7]:
action=pd.read_csv("data/action.csv",encoding="utf-8")

In [8]:
action=action.drop(['Unnamed: 0'],axis=1)

In [9]:
data_t=pd.merge(action,users,on=['user_id'])

In [10]:
data=pd.merge(data_t,dances,on=['dance_id'])

In [11]:
data.head()

,dance_id,user_id,lable,level,sex_em,favorites,play,title_em0,title_em1,title_em2,...,tag_em290,tag_em291,tag_em292,tag_em293,tag_em294,tag_em295,tag_em296,tag_em297,tag_em298,tag_em299
0,207000097,24696418,1.0,5,0,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
1,207000097,32507861,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
2,207000097,39060478,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
3,207000097,85909646,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
4,207000097,172874760,1.0,5,0,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917

In [49]:
data = data.sample(frac=1)#打乱数据
data.head()

,Unnamed: 0,dance_id,user_id,lable,level,sex_em,favorites,play,title_em0,title_em1,...,tag_em290,tag_em291,tag_em292,tag_em293,tag_em294,tag_em295,tag_em296,tag_em297,tag_em298,tag_em299
664958,664958,591679936,10936441,0.000,6,1,20,383,-0.943635,-0.310956,...,-0.642864,-0.383093,-0.197843,-0.041047,0.949104,0.923411,1.121352,-0.242108,0.486040,0.105406
505787,505787,759766114,2930687,1.000,6,0,2,400,-0.532565,-0.224688,...,-0.640722,0.184650,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
455538,455538,379260380,363932839,1.000,5,0,461,9008,-0.470412,0.822153,...,0.176886,0.218690,-0.563499,0.029256,0.494778,0.698658,0.484723,0.127818,0.215772,-0.011090
420249,420249,889906435,432062570,0.774,5,2,0,109,-0.457415,0.020481,...,-0.246547,0.202318,-0.427353,-0.202041,0.754443,0.893175,0.480693,0.438089,0.245608,-0.020120
39410,39410,762172963,1690404,1.000,6,1,2542,227937,0.389268,-0.085515,...,-0.640722,0.184650,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917

In [14]:
len(data)

845464

In [2]:
data=pd.read_csv('data/data_em.csv',encoding='utf-8')

In [3]:
data.head()

,Unnamed: 0,dance_id,user_id,lable,level,sex_em,favorites,play,title_em0,title_em1,...,tag_em290,tag_em291,tag_em292,tag_em293,tag_em294,tag_em295,tag_em296,tag_em297,tag_em298,tag_em299
0,0,207000097,24696418,1.0,5,0,27,3914,0.229985,0.410569,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
1,1,207000097,32507861,1.0,6,2,27,3914,0.229985,0.410569,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
2,2,207000097,39060478,1.0,6,2,27,3914,0.229985,0.410569,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
3,3,207000097,85909646,1.0,6,2,27,3914,0.229985,0.410569,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
4,4,207000097,172874760,1.0,5,0,27,3914,0.229985,0.410569,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917

In [4]:
data=data.drop(['Unnamed: 0'],axis=1)

In [5]:
data

,dance_id,user_id,lable,level,sex_em,favorites,play,title_em0,title_em1,title_em2,...,tag_em290,tag_em291,tag_em292,tag_em293,tag_em294,tag_em295,tag_em296,tag_em297,tag_em298,tag_em299
0,207000097,24696418,1.000,5,0,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
1,207000097,32507861,1.000,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
2,207000097,39060478,1.000,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
3,207000097,85909646,1.000,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
4,207000097,172874760,1.000,5,0,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845459,507078823,9873156,0.440,6,0,0,12,-0.436733,0.155030,0.830092,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
845460,764155292,85274975,0.232,5,0,0,19,-0.593119,0.373108,0.980985,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
845461,764155292,51463228,0.000,6,0,0,19,-0.593119,0.373108,0.980985,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
845462,764155292,693496460,0.005,3,0,0,19,-0.593119,0.373108,0.980985,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
845463,718667726,346747239,0.753,4,0,1,57,-0.134848,-0.012816,-0.201048,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [6]:
X_data=data.drop(['lable'],axis=1)

In [7]:
X_data.head()

,dance_id,user_id,level,sex_em,favorites,play,title_em0,title_em1,title_em2,title_em3,...,tag_em290,tag_em291,tag_em292,tag_em293,tag_em294,tag_em295,tag_em296,tag_em297,tag_em298,tag_em299
0,207000097,24696418,5,0,27,3914,0.229985,0.410569,0.608845,0.170573,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
1,207000097,32507861,6,2,27,3914,0.229985,0.410569,0.608845,0.170573,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
2,207000097,39060478,6,2,27,3914,0.229985,0.410569,0.608845,0.170573,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
3,207000097,85909646,6,2,27,3914,0.229985,0.410569,0.608845,0.170573,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
4,207000097,172874760,5,0,27,3914,0.229985,0.410569,0.608845,0.170573,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917

In [8]:
X_data_array=X_data.values

In [55]:
X_data_array[0].shape

(607,)

In [9]:
y=np.array(data["lable"])

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X_data_array, y, test_size=0.2,
                                                        random_state=2022)

In [11]:
class MyLayer(tf.keras.layers.Layer):
    def __init__(self, input_dim, output_dim=606, **kwargs):
        self.input_dim = input_dim
        self.output_dim = output_dim
        super(MyLayer, self).__init__(**kwargs)

    def build(self, input_shape):
        self.kernel = self.add_weight(name='kernel', 
                                      shape=(self.input_dim, self.output_dim),
                                      initializer='glorot_uniform',
                                      trainable=True)
        super(MyLayer, self).build(input_shape)

    def call(self, x):
        a = K.pow(K.dot(x,self.kernel), 2)
        b = K.dot(K.pow(x, 2), K.pow(self.kernel, 2))
        return K.mean(a-b, 1, keepdims=True)*0.5

    def compute_output_shape(self, input_shape):
        return (input_shape[0], self.output_dim)
    def get_config(self):
        config=super().get_config()
        config.update(
        {"input_dim":self.input_dim,
         "output_dim": self.output_dim
        }
        )
        return config
        

def FM(feature_dim):
    inputs = tf.keras.Input((feature_dim,))
    liner = tf.keras.layers.Dense(units=1, 
                                  bias_regularizer=tf.keras.regularizers.l2(0.01),
                                  kernel_regularizer=tf.keras.regularizers.l1(0.02),
                                  )(inputs)
    cross = MyLayer(feature_dim)(inputs)
    add = tf.keras.layers.Add()([liner, cross])
#     p=tf.keras.layers.Dense(units=32,activation='sigmoid')(add)
#     predictions = tf.keras.layers.Activation('sigmoid')(p)
 
    pre=tf.keras.layers.Dense(units=1, activation='sigmoid')(add)
    model = tf.keras.Model(inputs=inputs, outputs=pre)
    model.compile(optimizer=tf.keras.optimizers.Adam(lr = 0.0001),
                loss='binary_crossentropy',
                metrics=['binary_accuracy'])
#     model.compile(optimizer=tf.keras.optimizers.Adam(0.003),
#               loss='binary_crossentropy',
#               metrics=['accuracy'])

#     model.compile(loss='categorical_crossentropy',
#                   optimizer=tf.optimizers.Adam(0.001),
#                   metrics=['accuracy'])
    return model

def train(X_train, X_test, y_train, y_test ):
    fm = FM(606)
    fm.fit(X_train, y_train, epochs=100, batch_size=512, validation_data=(X_test, y_test))
    return fm

In [12]:
fm = train(X_train, X_test, y_train, y_test)

D:\Anaconda3 2020.11\envs\tf-gpu-25\lib\site-packages\tensorflow\python\keras\optimizer_v2\optimizer_v2.py:374: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  warnings.warn(

Epoch 1/20
1322/1322 [==============================] - 6s 4ms/step - loss: 33078108160.0000 - binary_accuracy: 0.4762 - val_loss: 20595937280.0000 - val_binary_accuracy: 0.4455
Epoch 2/20
1322/1322 [==============================] - 6s 4ms/step - loss: 24911167488.0000 - binary_accuracy: 0.5017 - val_loss: 42504388608.0000 - val_binary_accuracy: 0.5039
Epoch 3/20
1322/1322 [==============================] - 5s 4ms/step - loss: 17833140224.0000 - binary_accuracy: 0.5076 - val_loss: 35478007808.0000 - val_binary_accuracy: 0.4455
Epoch 4/20
1322/1322 [==============================] - 5s 4ms/step - loss: 11915145216.0000 - binary_accuracy: 0.5131 - val_loss: 22934075392.0000 - val_binary_accuracy: 0.5002
Epoch 5/20
1322/1322 [==============================] - 5s 4ms/step - loss: 8390563328.0000 - binary_accuracy: 0.5124 - val_loss: 1744344320.0000 - val_binary_accuracy: 0.5995
Epoch 6/20
1322/1322 [==============================] - 5s 4ms/step - loss: 3216996096.0000 - binary_accuracy: 0.5149 - val_loss: 4717743104.0000 - val_binary_accuracy: 0.4952
Epoch 7/20
1322/1322 [==============================] - 5s 4ms/step - loss: 790836480.0000 - binary_accuracy: 0.5277 - val_loss: 51632472.0000 - val_binary_accuracy: 0.6261
Epoch 8/20
1322/1322 [==============================] - 5s 4ms/step - loss: 16538883.0000 - binary_accuracy: 0.5959 - val_loss: 1021226.2500 - val_binary_accuracy: 0.0933
Epoch 9/20
1322/1322 [==============================] - 5s 4ms/step - loss: 1422308.5000 - binary_accuracy: 0.6062 - val_loss: 1440293.5000 - val_binary_accuracy: 0.6375
Epoch 10/20
1322/1322 [==============================] - 6s 4ms/step - loss: 1300480.8750 - binary_accuracy: 0.5963 - val_loss: 2136142.0000 - val_binary_accuracy: 0.6325
Epoch 11/20
1322/1322 [==============================] - 6s 4ms/step - loss: 1593901.6250 - binary_accuracy: 0.5775 - val_loss: 1734507.2500 - val_binary_accuracy: 0.4545
Epoch 12/20
1322/1322 [==============================] - 5s 4ms/step - loss: 1369095.5000 - binary_accuracy: 0.5666 - val_loss: 1662345.5000 - val_binary_accuracy: 0.4497
Epoch 13/20
1322/1322 [==============================] - 5s 4ms/step - loss: 1403956.1250 - binary_accuracy: 0.5442 - val_loss: 1976368.8750 - val_binary_accuracy: 0.4847
Epoch 14/20
1322/1322 [==============================] - 5s 4ms/step - loss: 1724413.6250 - binary_accuracy: 0.5280 - val_loss: 670963.6875 - val_binary_accuracy: 0.1317
Epoch 15/20
1322/1322 [==============================] - 6s 4ms/step - loss: 1574217.6250 - binary_accuracy: 0.5050 - val_loss: 4982931.0000 - val_binary_accuracy: 0.2780
Epoch 16/20
1322/1322 [==============================] - 6s 4ms/step - loss: 1598063.5000 - binary_accuracy: 0.4781 - val_loss: 1052487.1250 - val_binary_accuracy: 0.4432
Epoch 17/20
1322/1322 [==============================] - 6s 4ms/step - loss: 1564979.8750 - binary_accuracy: 0.4494 - val_loss: 437640.9062 - val_binary_accuracy: 0.4439
Epoch 18/20
1322/1322 [==============================] - 6s 4ms/step - loss: 1031064.6875 - binary_accuracy: 0.4246 - val_loss: 8153.1875 - val_binary_accuracy: 0.4431
Epoch 19/20
1322/1322 [==============================] - 6s 4ms/step - loss: 1180354.1250 - binary_accuracy: 0.3728 - val_loss: 138.2430 - val_binary_accuracy: 0.3357
Epoch 20/20
1322/1322 [==============================] - 6s 4ms/step - loss: 84581.7578 - binary_accuracy: 0.3652 - val_loss: 21629.3262 - val_binary_accuracy: 0.3114

In [ ]:
fm.summary()

In [ ]:
fm.save("myFM.h5")

In [17]:
new_model = tf.keras.models.load_model('myFM.h5',custom_objects={"MyLayer":MyLayer})

In [20]:
y_pred = np.argmax(new_model.predict(X_test), axis=1)	#预测样本
print(y_pred)

[0 0 0 ... 0 0 0]