In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
tf.__version__

'2.5.0'

In [59]:
user=pd.read_csv('data/user_em.csv',encoding='utf-8')

In [60]:
len(user)

235156

In [61]:
data=pd.read_csv("data/data_em.csv",encoding='utf-8')

In [62]:
data=data.drop(['Unnamed: 0'],axis=1)

In [63]:
data.tail()

,dance_id,user_id,lable,level,sex_em,favorites,play,title_em0,title_em1,title_em2,...,tag_em290,tag_em291,tag_em292,tag_em293,tag_em294,tag_em295,tag_em296,tag_em297,tag_em298,tag_em299
845459,507078823,9873156,0.440,6,0,0,12,-0.436733,0.155030,0.830092,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
845460,764155292,85274975,0.232,5,0,0,19,-0.593119,0.373108,0.980985,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
845461,764155292,51463228,0.000,6,0,0,19,-0.593119,0.373108,0.980985,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
845462,764155292,693496460,0.005,3,0,0,19,-0.593119,0.373108,0.980985,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
845463,718667726,346747239,0.753,4,0,1,57,-0.134848,-0.012816,-0.201048,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
data['user_nm']=0.
data['dance_nm']=0.

In [65]:
data.head()

,dance_id,user_id,lable,level,sex_em,favorites,play,title_em0,title_em1,title_em2,...,tag_em292,tag_em293,tag_em294,tag_em295,tag_em296,tag_em297,tag_em298,tag_em299,user_nm,dance_nm
0,207000097,24696418,1.0,5,0,27,3914,0.229985,0.410569,0.608845,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,0.0,0.0
1,207000097,32507861,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,0.0,0.0
2,207000097,39060478,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,0.0,0.0
3,207000097,85909646,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,0.0,0.0
4,207000097,172874760,1.0,5,0,27,3914,0.229985,0.410569,0.608845,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,0.0,0.0

In [66]:
data["user_id"][0]

24696418

In [73]:
50000/(data["dance_id"].max()-data["dance_id"].min())

6.486197147399294e-05

In [68]:
from tqdm import tqdm

In [92]:
#user_nm赋值
k = 10000/(data["user_id"].max()-data["user_id"].min())
for i in tqdm(range(len(data))):
    
    transform_value=k*(data["user_id"][i]-data["user_id"].min()) 
    data["user_nm"][i]=transform_value

  0%|                                                                                       | 0/845464 [00:00<?, ?it/s]C:\Users\Administrator\AppData\Local\Temp\ipykernel_9828\3739655352.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["user_nm"][i]=transform_value
100%|████████████████████████████████████████████████████████████████████████| 845464/845464 [2:33:23<00:00, 91.87it/s]

In [75]:
data.head()

,dance_id,user_id,lable,level,sex_em,favorites,play,title_em0,title_em1,title_em2,...,tag_em292,tag_em293,tag_em294,tag_em295,tag_em296,tag_em297,tag_em298,tag_em299,user_nm,dance_nm
0,207000097,24696418,1.0,5,0,27,3914,0.229985,0.410569,0.608845,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,2760.041816,0.0
1,207000097,32507861,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,3633.040479,0.0
2,207000097,39060478,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,4365.354070,0.0
3,207000097,85909646,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,9601.167863,0.0
4,207000097,172874760,1.0,5,0,27,3914,0.229985,0.410569,0.608845,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,19320.297633,0.0

In [93]:
#dance_nm赋值
k1 = 10000/(data["dance_id"].max()-data["dance_id"].min())
for i in tqdm(range(len(data))):
    transform_value=k1*(data["dance_id"][i]-data["dance_id"].min())+1 
#     print(transform_value)
    data["dance_nm"][i]=transform_value

  0%|                                                                                       | 0/845464 [00:00<?, ?it/s]C:\Users\Administrator\AppData\Local\Temp\ipykernel_9828\3916622010.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["dance_nm"][i]=transform_value
100%|████████████████████████████████████████████████████████████████████████| 845464/845464 [2:33:17<00:00, 91.92it/s]

In [79]:
data["dance_id"][1]-data["dance_id"].min()

0

In [ ]:
# for i in tqdm(range(len(data))):
    
#     transform_value=k*(data["user_id"][i]-data["user_id"].min()) 
#     data["user_nm"][i]=transform_value

In [94]:
data.head()

,dance_id,user_id,lable,level,sex_em,favorites,play,title_em0,title_em1,title_em2,...,tag_em292,tag_em293,tag_em294,tag_em295,tag_em296,tag_em297,tag_em298,tag_em299,user_nm,dance_nm
0,207000097,24696418,1.0,5,0,27,3914,0.229985,0.410569,0.608845,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,115.001742,1.0
1,207000097,32507861,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,151.376687,1.0
2,207000097,39060478,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,181.889753,1.0
3,207000097,85909646,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,400.048661,1.0
4,207000097,172874760,1.0,5,0,27,3914,0.229985,0.410569,0.608845,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,805.012401,1.0

In [95]:
data.to_csv("data/data_nm.csv",encoding='utf-8')

In [12]:
data=pd.read_csv("data/data_nm.csv",encoding='utf-8')

In [13]:
data.head()

,Unnamed: 0,dance_id,user_id,lable,level,sex_em,favorites,play,title_em0,title_em1,...,tag_em292,tag_em293,tag_em294,tag_em295,tag_em296,tag_em297,tag_em298,tag_em299,user_nm,dance_nm
0,0,207000097,24696418,1.0,5,0,27,3914,0.229985,0.410569,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,115.001742,1.0
1,1,207000097,32507861,1.0,6,2,27,3914,0.229985,0.410569,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,151.376687,1.0
2,2,207000097,39060478,1.0,6,2,27,3914,0.229985,0.410569,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,181.889753,1.0
3,3,207000097,85909646,1.0,6,2,27,3914,0.229985,0.410569,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,400.048661,1.0
4,4,207000097,172874760,1.0,5,0,27,3914,0.229985,0.410569,...,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917,805.012401,1.0

In [14]:
num_users=data["user_nm"].max()+1
num_dances=data["dance_nm"].max()+1
num_level=data["level"].max()+1
num_sex_em=data["sex_em"].max()+1
num_favorites=data["favorites"].max()+1
num_play=data["play"].max()+1

In [16]:
#构建训练数据集
# df_sample=data.sample(frac=0.1)
X=data[["user_nm","level","sex_em","dance_nm","favorites","play"]]

y=data.pop("lable")

In [17]:
X

            user_nm  level  sex_em     dance_nm  favorites  play
0        115.001742      5       0     1.000000         27  3914
1        151.376687      6       2     1.000000         27  3914
2        181.889753      6       2     1.000000         27  3914
3        400.048661      6       2     1.000000         27  3914
4        805.012401      5       0     1.000000         27  3914
...             ...    ...     ...          ...        ...   ...
845459    45.975401      6       0  3893.739553          0    12
845460   397.093237      5       0  7228.636873          0    19
845461   239.644682      6       0  7228.636873          0    19
845462  3229.351326      3       0  7228.636873          0    19
845463  1614.670967      4       0  6638.554231          1    57

[845464 rows x 6 columns]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,
                                                        random_state=2022)

In [19]:
X_train

            user_nm  level  sex_em     dance_nm  favorites     play
162890  7933.329821      2       0  7220.846846       5978   104037
322146   397.419681      6       0  8329.132832          0  1374092
204556  4820.011535      3       0  9972.124177      50878  2222026
704436  2251.905734      4       0  9995.436075          0      265
301897  2200.752634      4       0  1692.629962      33428  1556050
...             ...    ...     ...          ...        ...      ...
439985  1125.647286      5       2  4418.665841         21     1323
103024   479.061335      6       2   565.408042      28566  1214227
147629  1507.522489      6       1  2783.971692       4144   122307
787676  1791.770727      3       0  8894.285386          0      131
349053  2033.098815      5       1    10.652875        465    14757

[676371 rows x 6 columns]

In [8]:
#搭建双塔模型并训练
def get_model():
    """函数式API搭建双塔DNN模型"""
    #输入
    user_nm=keras.layers.Input(shape=(1,),name="user_nm")
    level=keras.layers.Input(shape=(1,),name="level")
    sex_em=keras.layers.Input(shape=(1,),name="sex_em")
    favorites=keras.layers.Input(shape=(1,),name="favorites")
    play=keras.layers.Input(shape=(1,),name="play")
    dance_nm=keras.layers.Input(shape=(1,),name="dance_nm")
    
    #user塔
    user_vector=tf.keras.layers.concatenate([
        layers.Embedding(int(num_users),100)(user_nm),
        layers.Embedding(num_level,2)(level),
        layers.Embedding(num_sex_em,2)(sex_em) 
        
    ])
#     user_vector=layers.Dense(512,activation='relu')(user_vector)
#     user_vector=layers.Dropout(0.5)(user_vector)
    user_vector=layers.Dense(256,activation='relu')(user_vector)
#     user_vector=layers.Dropout(0.5)(user_vector)
    user_vector=layers.Dense(128,activation='relu')(user_vector)
    user_vector=layers.Dropout(0.2)(user_vector)
    user_vector=layers.Dense(32,activation='relu',name="user_embedding",kernel_regularizer="l2")(user_vector)
    
    #dance塔
    dance_vector=tf.keras.layers.concatenate([
        layers.Embedding(int(num_dances),100)(dance_nm),
        layers.Embedding(num_favorites,2)(favorites),
        layers.Embedding(num_play,2)(play)
    
        
    ])
#     dance_vector=layers.Dense(512,activation='relu')(dance_vector)
#     dance_vector=layers.Dropout(0.5)(dance_vector)
    dance_vector=layers.Dense(256,activation='relu')(dance_vector)
#     dance_vector=layers.Dropout(0.5)(dance_vector)
    dance_vector=layers.Dense(128,activation='relu')(dance_vector)
    dance_vector=layers.Dropout(0.2)(dance_vector)
    dance_vector=layers.Dense(32,activation='relu',name="dance_embedding",kernel_regularizer="l2")(dance_vector)
    #合并
    user_dance=tf.reduce_sum(user_vector*dance_vector,axis=1)
    user_dance=tf.expand_dims(user_dance,1)
    #模型输出
    output_model=layers.Dense(1,activation="sigmoid")(user_dance)
    
    return keras.models.Model(inputs=[user_nm,level,sex_em,dance_nm,favorites,play],outputs=(output_model))

In [9]:
DSSM=get_model()

In [106]:
# DSSM.compile(loss=tf.keras.losses.MeanSquaredError(),optimizer=keras.optimizers.RMSprop())

In [10]:
DSSM.compile(optimizer=tf.keras.optimizers.Adam(0.001),
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [11]:
fix_x_train=[
    X_train['user_nm'],
    X_train['level'],
    X_train["sex_em"],
    X_train["dance_nm"],
    X_train["favorites"],
    X_train["play"]  
]
from datetime import datetime
TIME="{0:%Y-%m-%dT%H-%M-%S/}".format(datetime.now())
tensorboard_callback=tf.keras.callbacks.TensorBoard(log_dir='./logs/logs_'+TIME)

In [6]:
xtest=[
    X_test['user_nm'],
    X_test['level'],
    X_test["sex_em"],
    X_test["dance_nm"],
    X_test["favorites"],
    X_test["play"]  
]

In [89]:
# config = tf.compat.v1.ConfigProto()
# config.gpu_options.allow_growth = True
# sess = tf.compat.v1.Session(config=config)

In [13]:
history=DSSM.fit(
x=fix_x_train,
y=y_train,
    batch_size=512,
    epochs=20,
    verbose=1,
   
    callbacks=[tensorboard_callback]
)

Epoch 1/20
1322/1322 [==============================] - 156s 117ms/step - loss: 0.5123 - accuracy: 0.6304
Epoch 2/20
1322/1322 [==============================] - 154s 117ms/step - loss: 0.4420 - accuracy: 0.6513
Epoch 3/20
1322/1322 [==============================] - 153s 116ms/step - loss: 0.4383 - accuracy: 0.6537
Epoch 4/20
1322/1322 [==============================] - 153s 116ms/step - loss: 0.4359 - accuracy: 0.6550
Epoch 5/20
1322/1322 [==============================] - 163s 123ms/step - loss: 0.4343 - accuracy: 0.6557
Epoch 6/20
1322/1322 [==============================] - 158s 119ms/step - loss: 0.4329 - accuracy: 0.6562
Epoch 7/20
1322/1322 [==============================] - 158s 120ms/step - loss: 0.4321 - accuracy: 0.6567
Epoch 8/20
1322/1322 [==============================] - 159s 120ms/step - loss: 0.4308 - accuracy: 0.6573
Epoch 9/20
1322/1322 [==============================] - 156s 118ms/step - loss: 0.4298 - accuracy: 0.6576
Epoch 10/20
1322/1322 [==============================] - 155s 117ms/step - loss: 0.4288 - accuracy: 0.6582
Epoch 11/20
1322/1322 [==============================] - 155s 117ms/step - loss: 0.4279 - accuracy: 0.6585
Epoch 12/20
1322/1322 [==============================] - 155s 117ms/step - loss: 0.4269 - accuracy: 0.6591
Epoch 13/20
1322/1322 [==============================] - 155s 117ms/step - loss: 0.4258 - accuracy: 0.6596
Epoch 14/20
1322/1322 [==============================] - 155s 117ms/step - loss: 0.4250 - accuracy: 0.6599
Epoch 15/20
1322/1322 [==============================] - 155s 117ms/step - loss: 0.4241 - accuracy: 0.6601
Epoch 16/20
1322/1322 [==============================] - 155s 117ms/step - loss: 0.4231 - accuracy: 0.6605
Epoch 17/20
1322/1322 [==============================] - 155s 117ms/step - loss: 0.4217 - accuracy: 0.6611
Epoch 18/20
1322/1322 [==============================] - 155s 117ms/step - loss: 0.4204 - accuracy: 0.6615
Epoch 19/20
1322/1322 [==============================] - 155s 117ms/step - loss: 0.4192 - accuracy: 0.6620
Epoch 20/20
1322/1322 [==============================] - 154s 117ms/step - loss: 0.4178 - accuracy: 0.6625

In [ ]:
X_test,  y_test

In [11]:
[
    X_test['user_nm'],
    X_test['level'],
    X_test["sex_em"],
    X_test["dance_nm"],
    X_test["favorites"],
    X_test["play"]   
]

AttributeError: 'list' object has no attribute 'shape'

In [48]:
# ["user_nm","level","sex_em","dance_nm","favorites","play"]
#对于用户，物品id列表计算分数
y_p=DSSM.predict([
    X_test['user_nm'],
    X_test['level'],
    X_test["sex_em"],
    X_test["dance_nm"],
    X_test["favorites"],
    X_test["play"]
]
)

array([0.58028984], dtype=float32)

In [35]:
#保存模型
DSSM.save("DSSM.h5")



#加载模型
new_model=tf.keras.models.load_model('./data/DSSM.h5')